body {
    background-color: #8d1c3f;
}

h1 {
    color: #ffc627;
    font-size: 10vh;
}

h2 {
    color: #fff;
    font-size: 4vh;
    margin-top: -8vh;
}

.submit-pg-txt {
    margin-left: 8vw;
    margin-top: 40vh;
}