<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submit</title>
    <link rel="stylesheet" href="../static/css/submit_success_and_404.css">
</head>
<body>
    <div class="submit-pg-txt">
        <h1>Form submitted successfully!</h1>
        <div class="button-container">
            <button onclick="window.location.href='/download-report/{{ filename }}'">Download Compliance Analysis</button>
            <button onclick="window.location.href='/chat'">Open Chat for Ethical Analysis</button>
        </div>
    </div>
</body>
</html>
